vm.panic_on_oom={{ vm_panic_on_oom }}
vm.overcommit_memory={{ vm_overcommit_memory }}
kernel.panic={{ kernel_panic }}
kernel.panic_on_oops={{ kernel_panic_on_oops }}
kernel.keys.root_maxbytes={{ kernel_keys_root_maxbytes }}
